.history {
  flex: 1;
  max-width: 30%;
}
.history > h2 {
  text-align: center;
}

.history-list {
  list-style-type: none;
  padding: 0;
  background-color: #f0f0f0;
  height: 600px;
  overflow-y: auto;
  border-radius: 5px;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.history-item button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.history-list-video-name {
  cursor: pointer;
  color: rgb(46, 46, 229);
  text-decoration: underline;
}
